/* Linear Gradient */

.gradient-box {
  width: 500px;
  height: 200px;
  position: relative;
  margin: 20px;
  display: inline-block;
}

.gradient1 {
  background-image: linear-gradient(purple, blue);
}

.gradient2 {
  background-image: linear-gradient(to right, yellow, red);
}

.gradient3 {
  background-image: linear-gradient(to left, orange, blue);
}

.gradient4 {
  background-image: linear-gradient(to top, black, white);
}

.gradient5 {
  background-image: linear-gradient(to top right, aqua, blueviolet);
}

.gradient6 {
  background-image: linear-gradient(red, green, blue);
}

/* Radial Gradient */

.gradient-radial1 {
  background-image: radial-gradient(#3a3042, #db9d47, #ff784f);
}

.gradient-radial2 {
  background-image: radial-gradient(#3a3042 10%, #db9d47 30%, #ff784f);
}

.gradient-radial3 {
  background-image: radial-gradient(circle, #3a3042 10%, #db9d47 30%, #ff784f);
}
